# Valencia Airbnb listings Analysis
## by Eduardo Burgoa

## Businesse Understanding
The purpose of the analysis is to gain more understanding of the characteristics of Airbnb offer in the city of Valencia. I am focusing on answering the following questions:

- What neighbourhoods have highest average Airbnb price listings in the city of Valencia?
- What neighbourhoods have greater proportion of listings with multiple listing-owners?
- What factors are related to price of Airbnb in house listings?

## Data understanding 
This dataset includes 7233 Airbnb apartments in the city of Valencia updated on September 30th of 2019. This dataset has been colleted by Murray Cox from public information in Airbnb web page anonimazing any personal data. The purpose of this data collection work is adding data to key metrics so anyone can analyse how Airbnb is being used to compete with the residential housing market.

Let's explore the variables included in the dataset.

In [3]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

# suppress warnings from final output
import warnings
warnings.simplefilter("ignore")

In [4]:
# Import Data
df_listings = pd.read_csv('listings.csv')
df_neighbourhoods = pd.read_csv('neighbourhoods.csv')

In [5]:
print("Listings")
print(df_listings.info(max_cols=106))
print("Neighbourhoods")
print(df_neighbourhoods.info())

Listings
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7233 entries, 0 to 7232
Data columns (total 106 columns):
id                                              7233 non-null int64
listing_url                                     7233 non-null object
scrape_id                                       7233 non-null int64
last_scraped                                    7233 non-null object
name                                            7233 non-null object
summary                                         6897 non-null object
space                                           5412 non-null object
description                                     7041 non-null object
experiences_offered                             7233 non-null object
neighborhood_overview                           4874 non-null object
notes                                           3328 non-null object
transit                                         4523 non-null object
access                                          3702 non-null object
interaction                                     4325 non-null object
house_rules                                     4672 non-null object
thumbnail_url                                   0 non-null float64
medium_url                                      0 non-null float64
picture_url                                     7233 non-null object
xl_picture_url                                  0 non-null float64
host_id                                         7233 non-null int64
host_url                                        7233 non-null object
host_name                                       7231 non-null object
host_since                                      7231 non-null object
host_location                                   7217 non-null object
host_about                                      4036 non-null object
host_response_time                              6658 non-null object
host_response_rate                              6658 non-null object
host_acceptance_rate                            0 non-null float64
host_is_superhost                               7231 non-null object
host_thumbnail_url                              7231 non-null object
host_picture_url                                7231 non-null object
host_neighbourhood                              4968 non-null object
host_listings_count                             7231 non-null float64
host_total_listings_count                       7231 non-null float64
host_verifications                              7233 non-null object
host_has_profile_pic                            7231 non-null object
host_identity_verified                          7231 non-null object
street                                          7233 non-null object
neighbourhood                                   7057 non-null object
neighbourhood_cleansed                          7233 non-null object
neighbourhood_group_cleansed                    7233 non-null object
city                                            7231 non-null object
state                                           7093 non-null object
zipcode                                         7047 non-null object
market                                          7230 non-null object
smart_location                                  7233 non-null object
country_code                                    7233 non-null object
country                                         7233 non-null object
latitude                                        7233 non-null float64
longitude                                       7233 non-null float64
is_location_exact                               7233 non-null object
property_type                                   7233 non-null object
room_type                                       7233 non-null object
accommodates                                    7233 non-null int64
bathrooms                                       7227 non-null float64
bedrooms                                        7227 non-null float64
beds                                            7224 non-null float64
bed_type                                        7233 non-null object
amenities                                       7233 non-null object
square_feet                                     115 non-null float64
price                                           7233 non-null object
weekly_price                                    527 non-null object
monthly_price                                   489 non-null object
security_deposit                                5184 non-null object
cleaning_fee                                    5774 non-null object
guests_included                                 7233 non-null int64
extra_people                                    7233 non-null object
minimum_nights                                  7233 non-null int64
maximum_nights                                  7233 non-null int64
minimum_minimum_nights                          7233 non-null int64
maximum_minimum_nights                          7233 non-null int64
minimum_maximum_nights                          7233 non-null int64
maximum_maximum_nights                          7233 non-null int64
minimum_nights_avg_ntm                          7233 non-null float64
maximum_nights_avg_ntm                          7233 non-null float64
calendar_updated                                7233 non-null object
has_availability                                7233 non-null object
availability_30                                 7233 non-null int64
availability_60                                 7233 non-null int64
availability_90                                 7233 non-null int64
availability_365                                7233 non-null int64
calendar_last_scraped                           7233 non-null object
number_of_reviews                               7233 non-null int64
number_of_reviews_ltm                           7233 non-null int64
first_review                                    6348 non-null object
last_review                                     6348 non-null object
review_scores_rating                            6269 non-null float64
review_scores_accuracy                          6267 non-null float64
review_scores_cleanliness                       6269 non-null float64
review_scores_checkin                           6266 non-null float64
review_scores_communication                     6267 non-null float64
review_scores_location                          6267 non-null float64
review_scores_value                             6266 non-null float64
requires_license                                7233 non-null object
license                                         2375 non-null object
jurisdiction_names                              0 non-null float64
instant_bookable                                7233 non-null object
is_business_travel_ready                        7233 non-null object
cancellation_policy                             7233 non-null object
require_guest_profile_picture                   7233 non-null object
require_guest_phone_verification                7233 non-null object
calculated_host_listings_count                  7233 non-null int64
calculated_host_listings_count_entire_homes     7233 non-null int64
calculated_host_listings_count_private_rooms    7233 non-null int64
calculated_host_listings_count_shared_rooms     7233 non-null int64
reviews_per_month                               6348 non-null float64
dtypes: float64(23), int64(21), object(62)
memory usage: 5.8+ MB
None
Neighbourhoods
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 2 columns):
neighbourhood_group    88 non-null object
neighbourhood          88 non-null object
dtypes: object(2)
memory usage: 1.5+ KB
None

In [6]:
df_listings[['name', 'availability_365', 'price', 'monthly_price','host_total_listings_count']].head()

,name,availability_365,price,monthly_price,host_total_listings_count
0,VALENCIA HISTORIC HOUSE 50M BEACH,346,$150.00,NaN,3.0
1,Valencia: El Saler Beach and Albufera Lake,0,$100.00,"$1,000.00",1.0
2,beautiful apartment wifi,348,$45.00,$870.00,2.0
3,Delight in city center,0,$100.00,$700.00,1.0
4,Modern and bright Duplex 3 Bedrooms Center Wi-Fi,136,$134.00,NaN,6.0

In [7]:
df_neighbourhoods.head()

  neighbourhood_group   neighbourhood
0             ALGIROS    CIUTAT JARDI
1             ALGIROS     LA CARRASCA
2             ALGIROS       L'AMISTAT
3             ALGIROS   LA VEGA BAIXA
4             ALGIROS  L'ILLA PERDUDA

## Data Preparation

#### Assesment

## Model

## Evaluation

## Deployment